body {
  font-family: sans-serif;
}

.width {
  padding-right: 15%;
  padding-left: 15%;
}
h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  justify-content: center;
  background: url(./../images/apple-pie.jpg);
  background-size: cover;
  height: 600px;
  padding-top: 50%;
  font-size: 5em;
}

hr {
  margin-right: 15%;
  margin-left: 15%;
}

#cooking-info {
  display: block;
  margin: auto;
}

ul {
  margin-left: 40px;
}

ol {
  margin-left: 40px;
}
